<div class="row">
  <div class="span10 offset1">

    <%= link_to 'New', polymorphic_path([:new, controller_name.classify.downcase]) %>
    <%#=  %>

    <ul>
      <% @items.each do |i| %>
          <li><%= i.name %></li>
      <% end %>
    </ul>

  </div>
</div>