<ul class="nav">
  <li><%= link_to 'Каталог обуви', boots_path %></li>
  <li><%= link_to 'Цвета', colours_path %></li>
  <li><%= link_to 'Материалы верха', surfaces_path %></li>
  <li><a href="#">Материалы подошвы</a></li>
  <li><a href="#">Материалы стельки</a></li>
</ul>